*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.container{
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
header{
	background: #336699;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 0;
}
.logo{
	color: #fff;
	text-decoration: none;
	font-size: 48px;
	font-weight: bold;
}
.logo span{
	color: #86BBD8;
}
.menu{
	display: flex;
	list-style: none;
	font-size: 14px;
}
.menu li a{
	color: #fff;
	text-decoration: none;
	margin-left: 17px;
	position: relative;
}
.menu li:first-child a{
	margin-left: 0;
}
.menu li a::before,
.menu li a::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	position: absolute;
	bottom: -5px;
	background: #fff;
	transition: .3s ease-in-out;
}
.menu li a::before{
	left: 0;
}
.menu li a::after{
	right: 0;
}
.menu li a:hover::before,
.menu li a:hover::after{
	width: 50%;
}
.header-bottom{
	background: url('../img/bg.webp');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
.title{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}
.title-main{
	font-size: 72px;
	font-weight: bold;
	color: #fff;
	padding-top: 310px;
}
.title-main + p{
	color: #fff;
	font-size: 18px;
	padding-top: 50px;
	line-height: 24px;
}
.arrow{
	color: #fff;
	font-size: 65px;
	padding-top: 280px;
	display: inline-block;
}

.title-about{
	color: #336699;
	padding: 95px 0;
}
.about div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
}
.about div p{
	margin-right: 30px;
	line-height: 24px;
}
.about div img{
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.assortment{
	background: #336699;
	margin-top: 80px;
	transform: skewY(-5deg);
}
.assortment .container{
	transform: skewY(5deg);
}
.title-assortment{
	color: #fff;
	padding: 75px 0;
}
.books{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 150px;
}
.book{
	text-align: center;
	border-radius: 18px;
	width: 210px;
	background: #fff;
}
.title-book{
	font-size: 24px;
	font-weight: normal;
	padding-top: 20px;
}
.look-btn{
	text-decoration: none;
	color: #fff;
	padding: 8px 23px;
	font-size: 14px;
	background: #336699;
	border-radius: 13px;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 20px;
}

.section-personal{
	margin-top: 100px;
	padding-bottom: 120px;
}
.title-personal{
	color: #336699;
	margin-bottom: 100px;
}
.worker{
	margin-right: 30px;
	text-align: center;
}
.worker:last-child{
	margin-right: 0;
}
.title-worker{
	font-size: 18px;
	margin-bottom: 20px;
}
.worker-description{
	margin-bottom: 50px;
}
.worker .phone{
	color: #000;
}
.worker .social{
	margin-bottom: 20px;
}
.worker .social a{
	text-decoration: none;
	color: #000;
	margin-left: 10px;
}
.title-subscribe{
	color: #336699;
	padding-bottom: 140px;
}
.subscribe-form{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 120px;
}
.email-input{
	outline: none;
	border: none;
	border-bottom: 1px solid #000;
	padding: 14px 25px;
	display: inline-block;
	width: 440px;
}
.subscribe-btn{
	outline: none;
	border: none;
	color: #fff;
	background: #336699;
	font-size: 18px;
	padding: 13px 35px;
	cursor: pointer;
	display: inline-block;
}
footer{
	background: #336699;
	padding-top: 50px;
}
.footer-content{
	display: flex;
	justify-content: space-between;
}
.title-contacts{
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 30px;
}
.contacts{
	color: #fff;
	margin-bottom: 120px;
}
.phone i,
.vk i,
.instagram i{
	margin-right: 10px;
	margin-bottom: 15px;
}
.vk a,
.instagram a{
	text-decoration: none;
	color: #fff;
}
.copyright{
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
}
.copyright i{
	margin-right: 7px;
}
.menu-btn{
	display: none;
	width: 21px;
	height: 16px;
	position: relative;
}
.menu-btn span{
	width: 13px;
	height: 2px;
	display: inherit;
	background: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.menu-btn span::before,
.menu-btn span::after{
	content: '';
	display: block;
	background: #fff;
	position: absolute;
	height: 2px;
	left: 0;
	transition: .3s;
}
.menu-btn span::before{
	width: 21px;
	transform: translateY(-5px);
}
.menu-btn span::after{
	width: 19px;
	transform: translateY(5px);
}
.menu-btn-active span{
	height: 0;
}
.menu-btn-active span::before,
.menu-btn-active span::after{
	width: 21px;
}
.menu-btn-active span::before{
	transform: rotate(45deg);
}
.menu-btn-active span::after{
	transform: rotate(-45deg);
}
.menu-active{
	background: #336699;
	width: 250px;
	position: absolute;
	top: 60px;
	right: 0;
	flex-direction: column;
	transform: scaleY(1);
	display: block;
	list-style: none;
	font-size: 14px;
}
.menu-active li a{
	margin-left: 0;
	color: #fff;
	text-decoration: none;
}
.menu-active li{
	margin: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after{
	color: #336699;
}
.swiper-pagination-bullet-active{
	background-color: #336699;
}
.error-page{
	text-align: center;
}
.title-error{
	color: #336699;
	font-size: 150px;
	margin-top: 230px;
}
.title-error + p{
	color: #336699;
	margin-top: 20px;
}
.btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #336699;
	border-radius: 22.5px;
	padding: 7px 15px;
	margin-top: 20px;
}

.developing{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-developing{
    color: #336699;
	margin-top: 50px;
}
.title-developing + p{
    text-align: center;
    color: #336699;
	margin-top: 50px;
}
.fa-code{
	color: #336699;
	font-size: 120px;
	margin-top: 50px;
}

/* Планшет */
@media (max-width: 1280px) {
	.container{
		width: 970px;
	}
	.title-main{
		font-size: 60px;
	}
	.about div{
		flex-direction: column;
		text-align: center;
	}
	.about div p{
		margin-right: 0;
		margin-bottom: 10px;
	}
	.title-about{
		padding: 70px 0;
	}
	.assortment{
		margin-top: 0;
	}
}
@media (max-width: 1030px){
	.container{
		width: 900px;
	}
	.title-about{
		padding: 50px 0;
	}
}
@media (max-width: 915px){
	.container{
		width: 850px;
	}
}
@media (max-width: 860px){
	.container{
		width: 800px;
	}
	.title-main{
		font-size: 55px;
	}
	.title-about{
		padding: 50px 0;
	}
	.logo{
		font-size: 40px;
	}
	.title-contacts{
		font-size: 40px;
	}
	.contacts{
		margin-bottom: 70px;
	}
	footer{
		padding-top: 50px;
	}
}
@media (max-width: 800px){
	.container{
		width: 700px;
	}
	.books{
		flex-direction: column;
	}
	.book{
		margin-bottom: 20px;
	}
}
/* Телефон */
@media (max-width: 720px){
	.container{
		width: 480px;
	}
	.logo{
		font-size: 30px;
	}
	.menu{
		display: none;
	}
	.menu-btn{
		display: block;
	}
	.title-main + p{
		font-size: 14px;
	}
	.title-about{
		padding: 50px 0;
	}
	.arrow{
		font-size: 34px;
		padding-top: 200px;
	}
	.title{
		font-size: 24px;
	}
	.title-main{
		font-size: 34px;
		padding-top: 200px;
	}
	.about div p{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.about div img{
		width: 400px;
	}
	.title-book{
		font-size: 18px;
	}
	.title-subscribe{
		padding-bottom: 50px;
	}
	.subscribe-form{
		flex-direction: column;
		align-items: center;
	}
	.email-input{
		width: 300px;
		margin-bottom: 30px;
	}
	.subscribe-btn{
		font-size: 14px;
		padding: 10px 30px;
	}
	.title-contacts{
		font-size: 30px;
	}
	.title-contacts p,
	.title-contacts i,
	.copyright{
		font-size: 14px;
	}
	.contacts{
		margin-bottom: 70px;
	}
	footer{
		padding-top: 50px;
	}
}
@media (max-width: 480px){
	.container{
		width: 400px;
	}
	.worker-description{
		font-size: 13px;
	}
}
@media (max-width: 400px){
	.container{
		width: 320px;
	}
	.about div img{
		display: none;
	}
	.title-contacts, .logo{
		font-size: 24px;
	}
	.title-contacts{
		text-align: right;
	}
	.contacts p{
		font-size: 13px;
	}
}